.bp-primary-hero {
	&__media-button-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #00000060;
		justify-content: stretch;

		opacity: 0;
		transition: opacity 0.5s;

		button {
			display: block;
			width: 100%;
			height: 100%;
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}

	&__image {
		position: relative;

		&:hover {
			/* stylelint-disable-next-line selector-class-pattern */
			.bp-primary-hero__media-button-wrapper {
				opacity: 100;
			}
		}
	}
}
