@import "../../assets/css/abstracts/heading-styles.css";

.bp-primary-hero {
	&__content {
		margin: 4rem 0;
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		gap: 32px;
	}

	&__title {
		margin: 0;
		grid-column: 1 / span 7;
		@mixin text-d3;
	}

	&__content-right {
		grid-column: 8 / span 5;
	}

	&__body {
		margin: 0;
		margin-bottom: 1rem;
		@mixin text-h6;
	}

	/* &__buttons {} */

	&__image-grid {
		grid-column: 1 / span 12;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}

	&__image {
		height: 140px;
		background-color: var(--wp--preset--color--blue-black-200);
		border-radius: 40px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:nth-child(1) {
			grid-area: 1 / 1 / 2 / 9;
		}
		&:nth-child(2) {
			grid-area: 2 / 1 / 3 / 3;
		}
		&:nth-child(3) {
			grid-area: 2 / 3 / 3 / 9;
		}
		&:nth-child(4) {
			grid-area: 3 / 1 / 4 / 6;
		}
		&:nth-child(5) {
			grid-area: 3 / 6 / 4 / 9;
		}
		&:nth-child(6) {
			grid-area: 4 / 1 / 5 / 9;
		}
	}
}
