@import "../../assets/css/abstracts/heading-styles.css";

.bp-primary-hero {
	&__content {
		margin: 4rem 0;
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		gap: 32px;
	}

	&__title {
		margin: 0;
		grid-column: 1 / span 7;
		@mixin text-d3;
	}

	&__content-right {
		grid-column: 8 / span 5;
	}

	&__body {
		margin: 0;
		margin-bottom: 1rem;
		@mixin text-h6;
	}

	&__buttons {
	}
}
