/* Paragraph blocks don't get a .wp-block-* class */

.is-style-body-26 {
	@mixin text-body-26;
}

.is-style-body-22 {
	@mixin text-body-22;
}

.is-style-body-20 {
	@mixin text-body-20;
}

.is-style-body-18 {
	@mixin text-body-18;
}

.is-style-body-16 {
	@mixin text-body-16;
}

.is-style-body-14 {
	@mixin text-body-14;
}

.is-style-body-12 {
	@mixin text-body-12;
}
