/* Heading Placeholders & Styles
----------------------------------------------------------------------------

	Use these placeholders to quickly set heading styles.

	Heading styles for Gutenberg blocks are generated in in
	`/assets/js/editor/block-styles/heading-styles.js`.

	Usage as a placeholder in CSS files:
	.example {
		@extend %text-d1;
	}
*/

%text-d1 {
	font-size: var(--wp--preset--font-size--d-1);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 9rem;
	letter-spacing: -0.4686rem;
}

%text-d2 {
	font-size: var(--wp--preset--font-size--d-2);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 7rem;
	letter-spacing: -0.3438rem;
}

%text-d3 {
	font-size: var(--wp--preset--font-size--d-3);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 6.5rem;
	letter-spacing: -0.2812rem;
}

%text-h1 {
	font-size: var(--wp--preset--font-size--h-1);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 5.625rem;
	letter-spacing: -0.2186rem;
}

%text-h2 {
	font-size: var(--wp--preset--font-size--h-2);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 4.625rem;
	letter-spacing: -0.1563rem;
}

%text-h3 {
	font-size: var(--wp--preset--font-size--h-3);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 4rem;
	letter-spacing: -0.1625rem;
}

%text-h4 {
	font-size: var(--wp--preset--font-size--h-4);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 2.875rem;
	letter-spacing: -0.125rem;
}

%text-h5 {
	font-size: var(--wp--preset--font-size--h-5);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 2.5rem;
	letter-spacing: -0.0625rem;
}

%text-h6 {
	font-size: var(--wp--preset--font-size--h-6);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	line-height: 2.125rem;
	letter-spacing: -0.0375rem;
}
