/* Global Styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	line-height: 1.625rem;
}

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus,
.wp-element-button {
	transition: all 0.2s ease-in-out;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--bold);
}

p {
	@mixin text-body-18;
}
