/* Global Styles
---------------------------------------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	line-height: 1.625rem;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--bold);
}
