@import "../../assets/css/abstracts/body-styles.css";
@import "../../assets/css/abstracts/heading-styles.css";

.bp-cta {
	padding: 120px var(--wp--custom--spacing--gap);
	background-color: var(--wp--preset--color--black-700);
	color: var(--wp--preset--color--white);
	border-radius: 40px;

	&__content {
		margin: 0 auto;
	}

	&__subtitle {
		@mixin text-body-18;
		margin: 0;
		font-weight: 600;
		text-align: center;
	}

	&__title {
		@mixin text-h1;
		margin: 0;
		margin-bottom: 40px;
		text-align: center;
	}
}
